---
layout: default
nav_state: solid
title: Donate
heading: Donate
permalink: /donate/
---
<div id="donate-content" class="container-fluid">
  <div id="content-box-1" class="row flex-column-reverse flex-md-row align-items-end align-items-lg-center justify-content-center justify-content-md-end">
    <div class="d-none d-md-flex col-md-1"></div>
    <div class="col-12 col-md-5 start-box px-4 px-md-0">
      <p class="tagline">Support Our Mission</p>
      <h1>Donate</h1>
      <p>We are a ministry funded by generous donors. Full time Upstream staff raise their own support outside of Upstream donations. Although most of our work is accomplished by volunteers, we also have the following funding needs.</p>
      <div class="d-grid d-md-block">
        <a href="{{ site.donate_url }}" class="btn btn-primary" target="_blank">Give Now {% include svgs/icons/arrows/arrow-external.svg %}</a>
      </div>
    </div>
    <div class="d-none d-md-flex col-md-1"></div>
    <div class="col-12 col-md-5 end-box align-self-stretch">
      <img src="{{ "/assets/images/woman-on-phone-village.jpg" | relative_url }}" class="img-fluid" alt="A woman on the phone. A small village in the background.">
    </div>
  </div>

  <div id="content-box-2" class="row flex-column-reverse flex-md-row align-items-start justify-content-start">
    <div class="d-none d-md-flex col-md-1"></div>
    <div class="col-12 col-md-5 px-4 px-md-0">
      <h2 class="heading">Where Does Your Giving Go?</h2>
      <div class="accordion accordion-white" id="giving-breakdown">

        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-one">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-one" aria-expanded="false" aria-controls="collapse-one">
              <span class="title">Intern Cohorts</span>
            </button>
          </h2>
          <div id="collapse-one" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#giving-breakdown">
            <div class="accordion-body">
              <p>We hire students and recent graduates for missions mentoring cohorts. These are 8-12 week cohorts of developers and designers where we:</p>
              <ul>
                <li>Take a project from A to B. The projects make Christian material available in challenging contexts. For example, we might break ground on an app or build a specific feature for an app.</li>
                <li>Mentor our interns. We hire interns who desire to use their gifts for missions. We work hard to grow our interns into what we call “missional technologists” who will carry a heart for missions with them wherever they go.</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-two">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
              <span class="title">Overhead Expenses</span>
            </button>
          </h2>
          <div id="collapse-two" class="accordion-collapse collapse" aria-labelledby="heading-two" data-bs-parent="#giving-breakdown">
            <div class="accordion-body">
              <p>We keep this as low as possible, but we occasionally travel to meet with missionary teams and have a few paid subscriptions for the tools we use.</p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-three">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-three" aria-expanded="false" aria-controls="collapse-three">
              <span class="title">Freelance Contractors</span>
            </button>
          </h2>
          <div id="collapse-three" class="accordion-collapse collapse" aria-labelledby="heading-three" data-bs-parent="#giving-breakdown">
            <div class="accordion-body">
              <p>The vast majority of designing and coding happens through volunteers. Yet on occasion, we hire missional Christians as contractors to complete specific tasks.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-md-flex col-md-1"></div>
    <div class="col-12 col-md-4 text-center px-4 px-md-0">
      <img src="{{ "/assets/images/zoom-meeting.png" | relative_url }}" class="img-fluid" alt="A snapshot of one of our meetings.">
    </div>
    <div class="d-none d-md-flex col-md-1"></div>
  </div>

  <div id="content-box-3" class="row flex-md-row align-items-start align-items-md-center justify-content-start">
    <div class="d-none d-md-flex col-md-1"></div>
    <div class="col-12 col-md-10 testimonial-card">
      <div class="d-flex flex-column align-items-start align-items-md-center">
        <i class="single-quote"></i>
        <p class="quote">We can’t thank you enough for your generosity. Upstream is committed to carefully stewarding the Lord’s resources for the sake of those who have not heard about Christ. Your donations help make the message of the Bible accessible among least reached people.</p>
        <p class="organization">Upstream Core Team</p>
      </div>
    </div>
    <div class="d-none d-md-flex col-md-1"></div>
  </div>

  <div id="support-hero" class="bg-yurts d-flex flex-column align-items-end justify-content-end">
    <div class="hero-content text-start text-md-end">
      <h2 class="text-start text-md-end">Join Our Support Team</h2>
      <p class="text-start text-md-end">Join us in advancing the Gospel to unreached people groups by making a donation. Click the link, choose an amount, fill in your details, and click 'Donate' to empower meaningful change.</p>
      <a href="{{ site.donate_url }}" class="btn btn-primary" target="_blank">Donate {% include svgs/icons/arrows/arrow-external.svg %}</a>
    </div>
  </div>
</div>
