---
layout: default
title: Upstream
heading: Partner with Us
nav_state: solid
permalink: /partner/
subheading: A community of developers innovating together to advance church planting efforts.
---
<div id="partner-content" class="container-fluid">
  <div id="content-box-1" class="d-flex flex-column-reverse flex-md-row align-items-center justify-content-center justify-content-md-end">
    <div class="start-box">
      <p class="tagline">Missionary Teams</p>
      <h1>Partner With Us</h1>
      <p>Do you have biblical recordings, text, and/or artwork for your people group? If you think a dedicated mobile app can help make your content more accessible, we would love to begin a conversation with you.</p>
      <div class="d-grid d-md-block">
        <a href="" class="btn btn-primary">Contact Us {% include svgs/icons/arrows/arrow-external.svg %}</a>
      </div>
    </div>
    <div class="end-box">
      <img src="{{ "/assets/images/lady-white-hat-phones.jpg" | relative_url }}" class="img-fluid" alt="Woman in a white hat on a phone.">
    </div>
  </div>
  <div id="content-box-2" class="d-flex justify-content-center">
    <p>Any combination of your biblical recordings, text, and artwork. All contained in one app. Designed and developed solely for your people group.</p>
  </div>
  <div id="content-box-3" class="row justify-content-between align-items-center align-items-md-stretch">
    <div class="start-image-box order-1 col-md-4 d-none d-md-block">
      <img src="{{ "/assets/images/people-in-meeting.png" | relative_url }}" class="img-fluid" alt="People having an online meeting">
    </div>
    <div class="mobile-image-box order-2 col-12 d-block d-md-none">
      <img src="{{ "/assets/images/partner-layered-image.png" | relative_url }}" class="img-fluid" alt="People having an online meeting. Another group of people hiking.">
    </div>
    <div class="content-box margin-md-t-72 order-4 order-md-2 col-12 col-md-4">
      <h2>Let’s Talk.</h2>
      <p>A mobile app is no silver bullet for the unreached puzzle. We understand that missionaries must evaluate their specific contexts, the particular barriers for their people groups, and what the realistic value of an app might be. However, if you think an app-shaped puzzle piece might help overcome the barriers you’re facing, we would love to start a conversation with you.</p>
      <button class="btn btn-primary" type="button">Contact Us {% include svgs/icons/arrows/arrow-external.svg %}</button>
    </div>
    <div class="end-image-box order-3 order-md-3 col-md-4 d-none d-md-block">
      <img src="{{ "/assets/images/people-hiking-logo.png" | relative_url }}" class="img-fluid d-none d-md-inline" alt="A group of people hiking. An outline of the Upstream logo overlaying it.">
      <img src="{{ "/assets/images/people-hiking.png" | relative_url }}" class="img-fluid d-inline d-md-none" alt="A group of people hiking.">
    </div>
  </div>

  {%- include idea-to-reality.html -%}

  {%- include testimonials.html -%}

  <div id="question-hero" class="bg-mountain-valley d-flex flex-column align-items-start align-items-md-end justify-content-start justify-content-md-end">
    <p class="tagline text-start text-md-end">Missionary Teams</p>
    <div class="hero-content text-start text-md-end">
      <h2>Got Questions?</h2>
      <p>If you have any questions or need more information, feel free to ask us anything!</p>
      <a href="" class="btn btn-primary">Contact Us {% include svgs/icons/arrows/arrow-external.svg %}</a>
    </div>
  </div>
</div>
