---
layout: default
title: Upstream
heading: Partner with Us
nav_state: solid
permalink: /partner/
subheading: A community of developers innovating together to advance church planting efforts.
---
<div id="partner-content" class="container-fluid">
  <div id="content-box-1" class="d-flex flex-column-reverse flex-md-row align-items-center justify-content-center justify-content-md-end">
    <div class="start-box">
      <p class="tagline">Missionary Teams</p>
      <h1>Partner With Us</h1>
      <p>Do you have biblical recordings, text, and/or artwork for your people group? If you think a dedicated mobile app can help make your content more accessible, we would love to begin a conversation with you.</p>
      <div class="d-grid d-md-block">
        <a href="" class="btn btn-primary">Contact Us {% include svgs/icons/arrows/arrow-external.svg %}</a>
      </div>
    </div>
    <div class="end-box">
      <img src="{{ "/assets/images/lady-white-hat-phones.jpg" | relative_url }}" class="img-fluid" alt="Woman in a white hat on a phone.">
    </div>
  </div>
  <div id="content-box-2" class="d-flex justify-content-center">
    <p>Any combination of your biblical recordings, text, and artwork. All contained in one app. Designed and developed solely for your people group.</p>
  </div>
  <div id="content-box-3" class="row justify-content-between align-items-center align-items-md-stretch">
    <div class="start-image-box order-1 col-md-4 d-none d-md-block">
      <img src="{{ "/assets/images/people-in-meeting.png" | relative_url }}" class="img-fluid" alt="People having an online meeting">
    </div>
    <div class="mobile-image-box order-2 col-12 d-block d-md-none">
      <img src="{{ "/assets/images/partner-layered-image.png" | relative_url }}" class="img-fluid" alt="People having an online meeting. Another group of people hiking.">
    </div>
    <div class="content-box margin-md-t-72 order-4 order-md-2 col-12 col-md-4">
      <h2>Let’s Talk.</h2>
      <p>A mobile app is no silver bullet for the unreached puzzle. We understand that missionaries must evaluate their specific contexts, the particular barriers for their people groups, and what the realistic value of an app might be. However, if you think an app-shaped puzzle piece might help overcome the barriers you’re facing, we would love to start a conversation with you.</p>
      <button class="btn btn-primary" type="button">Contact Us {% include svgs/icons/arrows/arrow-external.svg %}</button>
    </div>
    <div class="end-image-box order-3 order-md-3 col-md-4 d-none d-md-block">
      <img src="{{ "/assets/images/people-hiking-logo.png" | relative_url }}" class="img-fluid d-none d-md-inline" alt="A group of people hiking. An outline of the Upstream logo overlaying it.">
      <img src="{{ "/assets/images/people-hiking.png" | relative_url }}" class="img-fluid d-inline d-md-none" alt="A group of people hiking.">
    </div>
  </div>

  <div id="content-box-4" class="row justify-content-between align-items-center">
    <div class="d-none d-md-flex col-md-1"></div>
    <div class="start-image-box order-1 col-12 col-md-5 text-center text-md-left">
      <img src="{{ "/assets/images/lego-stack.png" | relative_url }}" class="img-fluid" alt="A stack of bricks fitting nicely together">
    </div>
    <div class="content-box order-2 col-12 col-md-5">
      <p class="tagline">Our Process</p>
      <h2>From Idea to Reality</h2>
      <div class="process-accordion">
        <div id="process-accordion" class="accordion">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                1 Initial Conversation
              </button>        
            </h2>
            <div id="collapse-one" class="accordion-collapse collapse show" data-bs-parent="#process-accordion">
              <div class="accordion-body">
                We want to get to know you and your ministry context.
              </div>
            </div>        
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-two" aria-expanded="true" aria-controls="collapse-two">
                2 Clarify Requirements
              </button>        
            </h2>
            <div id="collapse-two" class="accordion-collapse collapse" data-bs-parent="#process-accordion">
              <div class="accordion-body">
                Together with you, we hone in on project goals and what’s needed to get there.
              </div>
            </div>        
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-three" aria-expanded="true" aria-controls="collapse-three">
                3 Make Drafts
              </button>        
            </h2>
            <div id="collapse-three" class="accordion-collapse collapse" data-bs-parent="#process-accordion">
              <div class="accordion-body">
                We produce designs of the app until they’re approved by you.
              </div>
            </div>        
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-four" aria-expanded="true" aria-controls="collapse-four">
                4 Build and Test
              </button>        
            </h2>
            <div id="collapse-four" class="accordion-collapse collapse" data-bs-parent="#process-accordion">
              <div class="accordion-body">
                Our volunteer technologists start coding. We also test for any problems.
              </div>
            </div>        
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-five" aria-expanded="true" aria-controls="collapse-five">
                5 Launch
              </button>        
            </h2>
            <div id="collapse-five" class="accordion-collapse collapse" data-bs-parent="#process-accordion">
              <div class="accordion-body">
                We celebrate, give thanks, and pray as the app is made available to the public.
              </div>
            </div>        
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-six" aria-expanded="true" aria-controls="collapse-six">
                6 Refine
              </button>        
            </h2>
            <div id="collapse-six" class="accordion-collapse collapse" data-bs-parent="#process-accordion">
              <div class="accordion-body">
                Make adjustments based on user feedback and project goals.
              </div>
            </div>        
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-md-flex col-md-1"></div>
  </div>

  {%- include testimonials.html -%}

  <div id="question-hero" class="bg-mountain-valley d-flex flex-column align-items-start align-items-md-end justify-content-start justify-content-md-end">
    <p class="tagline text-start text-md-end">Missionary Teams</p>
    <div class="hero-content text-start text-md-end">
      <h2>Got Questions?</h2>
      <p>If you have any questions or need more information, feel free to ask us anything!</p>
      <a href="" class="btn btn-primary">Contact Us {% include svgs/icons/arrows/arrow-external.svg %}</a>
    </div>
  </div>
</div>
