---
layout: default
nav_state: solid
title: Serve with Us
heading: Serve with Us
permalink: /serve/
image: assets/images/share-upstream-code.jpg
---
<div id="serve-content" class="container-fluid">
  <div id="content-box-1" class="row flex-column-reverse flex-md-row align-items-end align-items-lg-center justify-content-center justify-content-md-end">
    <div class="d-none d-md-flex col-md-1"></div>
    <div class="col-12 col-md-5 start-box px-4 px-md-0">
      <p class="tagline">Missional technologists</p>
      <h1>Serve With Us</h1>
      <p>We’re creating spaces for developers and designers to meaningfully contribute to global missions.</p>
      <div class="d-grid d-md-block">
        <a href="https://tally.so/r/me6EJo" target="_blank" rel="nofollow" class="btn btn-primary">Join Us {% include svgs/icons/arrows/arrow-external.svg %}</a>
      </div>
    </div>
    <div class="d-none d-md-flex col-md-1"></div>
    <div class="col-12 col-md-5 end-box">
      <img src="{{ "/assets/images/online-hangout.jpg" | relative_url }}" class="img-fluid" alt="A desk with a laptop. The laptop is displaying a virtual call.">
    </div>
  </div>

  <div id="content-box-2" class="row">
    <div class="d-none d-md-flex col-md-1"></div>
    <div class="col-12 col-md-8 px-4 px-md-0">
      <p class="text-center lead">“Umm… I guess you could help run the church soundbooth. That’s sort of like engineering, right?”</p>
    </div>
    <div class="d-none d-md-flex col-md-1 col-lg-1"></div>
  </div>

  <div id="content-box-3" class="row flex-md-row align-items-start align-items-md-center justify-content-start">
    <div class="d-none d-lg-flex col-lg-1"></div>
    <div class="col-12 col-md-5 col-lg-4 end-box">
      <img src="{{ "/assets/images/hub-illustration.png" | relative_url }}" class="img-fluid" alt="An illustration demonstrating a hub.">
    </div>
    <div class="d-none d-lg-flex col-lg-1"></div>
    <div class="col-12 col-md-4 col-lg-4 px-4 px-md-0">
      <h2>A Hub for Missional Technologists</h2>
      <p>As technologists, we can feel stifled when trying to use our skills to benefit our churches and Christian ministries. There often just aren’t a ton of spaces for us to serve. How can God use me for missions work when I’m wired to be a software developer?</p>
      <p>We built Upstream to be a connection between developers and frontline missions. Put differently, we want to resolve the tension you feel as you seek to use your gifts for kingdom purposes.</p>
    </div>
    <div class="d-none d-md-flex col-md-2 col-lg-2"></div>
  </div>

  <div id="content-box-4" class="row flex-md-row align-items-start align-items-md-center justify-content-start">
    <div class="d-none d-md-flex col-md-1"></div>
    <div class="col-12 col-md-10 ways-to-serve">
      <h2 class="text-center">Ways You Can Serve With Us</h2>
      <div class="d-flex flex-column flex-lg-row gap-3">
        <div class="col d-flex flex-column align-items-start">
          <div class="icon">{% include svgs/icons/misc/rocket.svg %}</div>
          <p class="title">Solve Challenges Together</p>
          <p>We’re building <a href="/our-solution/">Orality Platform</a> — a shared codebase from which multiple language-specific apps can be spun up. Join our online community and volunteer your software development, design, or product development skills.</p>
        </div>
        <div class="col d-flex flex-column align-items-start m-margin-top">
          <div class="icon">{% include svgs/icons/misc/group.svg %}</div>
          <p class="title">Mentor the Next Generation</p>
          <p>If you’re an experienced technologist, volunteer your time to mentor (technically and spiritually) younger developers and designers in our community. Your guidance and example can shape the next generation of missional technologists.</p>
        </div>
        <div class="col d-flex flex-column align-items-start m-margin-top">
          <div class="icon">{% include svgs/icons/misc/briefcase.svg %}</div>
          <p class="title">Apply for a Cohort</p>
          <p>We occasionally run 10-week cohorts for students or recent graduates. Paid interns collaborate on developing a Christian app for an unreached people group. Conducted remotely, our cohorts include group mentoring sessions led by experienced professionals and dedicated times for prayer and reflection.</p>
        </div>
      </div>
      <div class="call-to-action text-center">
        <a href="https://tally.so/r/me6EJo" target="_blank" rel="nofollow" class="btn btn-primary">Get Started {% include svgs/icons/arrows/arrow-external.svg %}</a>
      </div>
    </div>
    <div class="d-none d-md-flex col-md-1"></div>
  </div>

  <div id="content-box-5" class="row flex-md-row align-items-start align-items-md-center justify-content-start">
    <div class="d-none d-md-flex col-md-1"></div>
    <div class="col-12 col-md-10 testimonial-card">
      <div class="d-flex flex-column align-items-start align-items-md-center">
        <i class="single-quote"></i>
        <p class="quote">I greatly enjoyed getting to know all of the mentors on the Upstream team. Mary, Michael, and Caleb were huge in guiding this process. I very much felt like there was a ship being steered and that I had a clear direction where we were headed.</p>
        <p class="organization">Former Upstream Intern</p>
      </div>
    </div>
    <div class="d-none d-md-flex col-md-1"></div>
  </div>

  <div id="question-hero" class="bg-git-branch d-flex flex-column align-items-start justify-content-center justify-content-md-end">
    <p class="tagline">Missional Technologists</p>
    <div class="hero-content">
      <h2>Got Questions?</h2>
      <p>If you have any questions or need more information, feel free to ask us anything!</p>
      <a href="" class="btn btn-primary">Contact Us {% include svgs/icons/arrows/arrow-external.svg %}</a>
    </div>
  </div>

</div>
