<div id="action-items" class="container-fluid">
  <div class="row">
    <div
      class="bg-git-branch col-12 col-md-6 hero-one d-flex flex-column align-items-start justify-content-start justify-content-md-end"
    >
      <div class="px-mobile">
        <p class="tagline">Technologists</p>
        <div class="hero-content">
          <h2>Build for the Unreached</h2>
          <p>
            Discover how you can code and design for the unreached. Join our
            community to learn and contribute to church planting efforts.
          </p>
          <a href="/serve/" class="btn btn-primary">
            Serve {% include svgs/icons/arrows/arrow-right.svg %}
          </a>
        </div>
      </div>
    </div>
    <div
      class="bg-mountain-valley col-12 col-md-6 hero-two d-flex flex-column align-items-start align-items-md-end justify-content-start justify-content-md-end"
    >
      <div class="px-mobile">
        <p class="tagline text-start text-md-end">Missionaries</p>
        <div class="hero-content text-start text-md-end">
          <h2>Empower Your Mission</h2>
          <p>
            Begin a conversation with us to explore whether our tailored apps can
            empower your mission.
          </p>
          <a href="/partner/" class="btn btn-primary"
            >Partner {% include svgs/icons/arrows/arrow-right.svg %}</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
