<div id="idea-to-reality-box" class="row justify-content-between align-items-center">
    <div class="d-none d-md-flex col-md-1"></div>
    <div class="start-image-box order-1 col-12 col-md-5 text-center text-md-left">
      <img src="{{ "/assets/images/lego-stack.png" | relative_url }}" class="img-fluid" alt="A stack of bricks fitting nicely together">
    </div>
    <div class="content-box order-2 col-12 col-md-5">
      <p class="tagline">Our Process</p>
      <h2>From Idea to Reality</h2>
      <div class="process-accordion">
        <div id="process-accordion" class="accordion">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                1 Initial Conversation
              </button>        
            </h2>
            <div id="collapse-one" class="accordion-collapse collapse show" data-bs-parent="#process-accordion">
              <div class="accordion-body">
                We want to get to know you and your ministry context.
              </div>
            </div>        
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-two" aria-expanded="true" aria-controls="collapse-two">
                2 Clarify Requirements
              </button>        
            </h2>
            <div id="collapse-two" class="accordion-collapse collapse" data-bs-parent="#process-accordion">
              <div class="accordion-body">
                Together with you, we hone in on project goals and what’s needed to get there.
              </div>
            </div>        
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-three" aria-expanded="true" aria-controls="collapse-three">
                3 Make Drafts
              </button>        
            </h2>
            <div id="collapse-three" class="accordion-collapse collapse" data-bs-parent="#process-accordion">
              <div class="accordion-body">
                We produce designs of the app until they’re approved by you.
              </div>
            </div>        
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-four" aria-expanded="true" aria-controls="collapse-four">
                4 Build and Test
              </button>        
            </h2>
            <div id="collapse-four" class="accordion-collapse collapse" data-bs-parent="#process-accordion">
              <div class="accordion-body">
                Our volunteer technologists start coding. We also test for any problems.
              </div>
            </div>        
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-five" aria-expanded="true" aria-controls="collapse-five">
                5 Launch
              </button>        
            </h2>
            <div id="collapse-five" class="accordion-collapse collapse" data-bs-parent="#process-accordion">
              <div class="accordion-body">
                We celebrate, give thanks, and pray as the app is made available to the public.
              </div>
            </div>        
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-six" aria-expanded="true" aria-controls="collapse-six">
                6 Refine
              </button>        
            </h2>
            <div id="collapse-six" class="accordion-collapse collapse" data-bs-parent="#process-accordion">
              <div class="accordion-body">
                Make adjustments based on user feedback and project goals.
              </div>
            </div>        
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-md-flex col-md-1"></div>
  </div>