<div id="testimonials-wrapper" class="container-fluid">
  <div id="testimonials" class="carousel slide" data-bs-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex flex-column align-items-start align-items-md-center">
          <i class="single-quote"></i>
          <p class="quote">I’m just amazed that people download the app every single day. It is so exciting and so awesome to think that there are 1600 people now with the Word of God on their phones which wasn’t the case before.</p>
          <i class="signature signature-don"></i>
          <p class="organization">Missionary in Southeast Asia</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-column align-items-start align-items-md-center">
          <i class="single-quote"></i>
          <p class="quote">I’m just super thankful for all the hard work that Upstream has done to make this app a reality. People are stoked and praying for you and praising the Lord for you.</p>
          <p class="organization">Missionary in Asia</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-column align-items-start align-items-md-center">
          <i class="single-quote"></i>
          <p class="quote">I greatly enjoyed getting to know all of the mentors on the Upstream team. Mary, Michael, and Caleb were huge in guiding this process. I very much felt like there was a ship being steered and that I had a clear direction where we were headed.</p>
          <p class="organization">Upstream Intern</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-column align-items-start align-items-md-center">
          <i class="single-quote"></i>
          <p class="quote">The environment was very welcoming and forgiving, despite my mistakes and lack of knowledge about the tools being used. I greatly enjoyed this experience! Thank you! I also truly value the work being done to make the gospel known to all peoples. The people behind this work are using their skills and abilities incredibly for the sake of the kingdom.</p>
          <p class="organization">Upstream Intern</p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#testimonials" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#testimonials" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>  
</div>
