// @font-face {
//     font-family: Gilroy;
//     src: local('Gilroy-Black'), url('fonts/Gilroy/Gilroy-Black.otf') format('opentype');
//     font-weight: 900;
//     font-style: normal;
// }

// @font-face {
//     font-family: Gilroy;
//     src: local('Gilroy-BlackItalic'), url('fonts/Gilroy/Gilroy-BlackItalic.otf') format('opentype');
//     font-weight: 900;
//     font-style: italic;
// }

@font-face {
    font-family: Gilroy;
    src: local('Gilroy-Heavy'), url('fonts/Gilroy/Gilroy-Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: local('Gilroy-HeavyItalic'), url('fonts/Gilroy/Gilroy-HeavyItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: Gilroy;
    src: local('Gilroy-ExtraBold'), url('fonts/Gilroy/Gilroy-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: local('Gilroy-ExtraBoldItalic'), url('fonts/Gilroy/Gilroy-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: Gilroy;
    src: local('Gilroy-Bold'), url('fonts/Gilroy/Gilroy-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: local('Gilroy-BoldItalic'), url('fonts/Gilroy/Gilroy-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Gilroy;
    src: local('Gilroy-SemiBold'), url('fonts/Gilroy/Gilroy-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: local('Gilroy-SemiBoldItalic'), url('fonts/Gilroy/Gilroy-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: Gilroy;
    src: local('Gilroy-Medium'), url('fonts/Gilroy/Gilroy-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: local('Gilroy-MediumItalic'), url('fonts/Gilroy/Gilroy-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Gilroy;
    src: local('Gilroy'), url('fonts/Gilroy/Gilroy-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: local('Gilroy-Italic'), url('fonts/Gilroy/Gilroy-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Gilroy;
    src: local('Gilroy-Light'), url('fonts/Gilroy/Gilroy-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: local('Gilroy-LightItalic'), url('fonts/Gilroy/Gilroy-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Gilroy;
    src: local('Gilroy-Thin'), url('fonts/Gilroy/Gilroy-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: local('Gilroy-ThinItalic'), url('fonts/Gilroy/Gilroy-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

// @font-face {
//     font-family: Gilroy;
//     src: local('Gilroy-UltraLight'), url('fonts/Gilroy/Gilroy-UltraLight.otf') format('opentype');
//     font-weight: 900;
//     font-style: normal;
// }

// @font-face {
//     font-family: Gilroy;
//     src: local('Gilroy-UltraLightItalic'), url('fonts/Gilroy/Gilroy-UltraLightItalic.otf') format('opentype');
//     font-weight: 900;
//     font-style: normal;
// }
