---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$brand-color-dark:           #a8edff;
$brand-color-light:           #e8e8e8;

/**
 * Site header
 */
.site-header {
  border-top: 0px solid $brand-color-dark;
  border-bottom: 1px solid $brand-color-light;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;

  // Positioning context for the mobile navigation icon
  position: relative;
}

/**
 * Wrapper
 */
 .wrapper-full {
  max-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

/**
* Title
*/
.page-heading {
  text-align: center;
}

/**
 * Cover with image
 */
.cover {
  display: flex;
  flex-direction: column;
  background-image: url("../images/guy_mountains_sunset.jpg");
  background-color: #cccccc;
  height: 400px;
  justify-content: center;
  align-items: center;
}

/**
 * Cover content
 */
 .cover-content {
  text-align: center;
}