<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include nav.html -%}

    <main class="article-content px-mobile" aria-label="Content">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="d-none d-md-flex col-md-2"></div>
          <div class="metadata text-center col-md-8">
            <p class="duration">{{ page.duration }}</p>
            <h1>{{ page.title }}</h1>
            <p class="author{% if page.author == "" or page.author == nil %} d-none{% endif %}">By {{ page.author }}</p>
            <img src="{{ page.image | relative_url }}" alt="{{ page.image_alt }}" class="img-fluid">
          </div>
          <div class="d-none d-md-flex col-md-2"></div>
        </div>
        <div class="row content">
          <div class="d-none d-md-flex col-md-3"></div>
          <div class="col-12 col-md-6">
            {{ content }}
            <div id="share-component">
              <p class="sm-label">Share</p>
              <div class="d-flex justify-content-start flex-row gap-2">
                <a href="#" data-sharer="facebook" data-url="{{ site.url }}{{ page.url }}">{% include svgs/icons/social/facebook.svg %}</a>
                <a href="#" data-sharer="twitter" data-title="{{ page.title }}" data-url="{{ site.url }}{{ page.url }}">{% include svgs/icons/social/x.svg %}</a>
                <a href="#" data-sharer="linkedin" data-url="{{ site.url }}{{ page.url }}">{% include svgs/icons/social/linked-in.svg %}</a>
                <a href="#" class="clipboard" data-clipboard-text="{{ site.url }}{{ page.url }}">{% include svgs/icons/social/link.svg %}</a>
                <a href="https://threads.net/intent/post?text={{ page.title }} - {{ site.url }}{{ page.url }}" target="_blank">{% include svgs/icons/social/email.svg %}</a>
              </div>
            </div>
          </div>
          <div class="d-none d-md-flex col-md-3"></div>
        </div>
        <div id="related-posts" class="row">
          <div class="d-none d-md-flex col-md-1"></div>
          <div class="col-12 col-md-10">
            <div class="row justify-content-center">
              <div class="col-12 heading">
                <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
                  <h2>Related Articles</h2>
                  <a href="/articles/">View All Posts {% include svgs/icons/arrows/arrow-right.svg %}</a>
                </div>
              </div>
              {% for post in site.related_posts limit:3 %}
                <div class="col-12 col-md-4 m-margin-bottom">
                  <div class="card h-100">
                    <a href="{{ post.url }}" class="card-pic-link">
                      <img src="{{ post.image | relative_url }}"
                        alt="{{ post.image_alt }}">
                    </a>
                    <div class="card-body">
                      <p class="duration">{{ post.duration }}</p>
                      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                      <p class="snippet">{{ post.excerpt }}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="d-none d-md-flex col-md-1"></div>
        </div>
      </div>
    </main>
    {%- include footer.html -%}
    <script src="https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js"></script>
  </body>

</html>
