---
layout: default
---

<div class="home">

  {%- include cover.html -%}
  
  <div class="wrapper">

    <div class="page-section">
    {{ content }}
        <form
            action="https://formspree.io/mbjzlzpq"
            method="POST">
            <label >
                Name<br>
                <input class="input" type="text" name="Name"
                required=true><br>
            </label>
            <label>
                Email<br>
                <input class="input" type="text" name="_replyto"
                required=true><br>
            </label>
            <label>
                Organization (optional)<br>
                <input class="input" type="text" name="Organization"><br>
            </label>
            <label>
                Description of project <br>
                <textarea class="input" name="message" rows="5" maxlength="200"
                required=true ></textarea><br>
            </label>
            <label>
                Who is the target audience (people group, geographical location, etc)? <br>
                <textarea class="input" name="message" rows="2" maxlength="200"
                required=true ></textarea><br>
            </label>
            <label>
                How would this project serve church planting movements? <br>
                <textarea class="input" name="message" rows="5" maxlength="200"
                required=true ></textarea><br>
            </label>
            <label>
                What needs would this project meet that can’t be met through existing tools? <br>
                <textarea class="input" name="message" rows="5" maxlength="200"
                required=true ></textarea><br>
            </label>
            <!-- your other form fields go here -->

            <input type="hidden" name="_next" value="/contact-thanks" />
            <input type="hidden" name="_subject" value="Project Idea" />
            <button class="button button-dark" type="submit">Submit</button>
        </form>
    </div>

  </div>

</div>