---
layout: default
---

<div class="home">

  {%- include cover.html -%}
  
  <div class="wrapper">

    <div class="page-section">
    {{ content }}
        <form
            action="https://formspree.io/mbjzlzpq"
            method="POST">
            <label >
                Name:<br>
                <input type="text" name="Name" size="40" 
                required=true 
                style="margin-bottom: 1em; font-size: 1em;" ><br>
            </label>
            <label>
                Email:<br>
                <input type="text" name="_replyto" size="40" 
                required=true 
                style="margin-bottom: 1em; font-size: 1em;"><br>
            </label>
            <label>
                Organization: (optional)<br>
                <input type="text" name="Organization" size="40" 
                style="margin-bottom: 1em; font-size: 1em;"><br>
            </label>
            <label>
                Description of project: <br>
                <textarea name="message" cols="48" rows="5" maxlength="200"
                required=true 
                style="margin-bottom: 1em; font-size: 1em;"></textarea><br>
            </label>
            <label>
                Who is the target audience (people group, geographical location, etc)? <br>
                <textarea name="message" cols="48" rows="2" maxlength="200"
                required=true 
                style="margin-bottom: 1em; font-size: 1em;"></textarea><br>
            </label>
            <label>
                How would this project serve church planting movements? <br>
                <textarea name="message" cols="48" rows="5" maxlength="200"
                required=true 
                style="margin-bottom: 1em; font-size: 1em;"></textarea><br>
            </label>
            <label>
                What needs would this project meet that can’t be met through existing tools? <br>
                <textarea name="message" cols="48" rows="5" maxlength="200"
                required=true 
                style="margin-bottom: 1em; font-size: 1em;"></textarea><br>
            </label>
            <!-- your other form fields go here -->

            <input type="hidden" name="_next" value="/contact-thanks" />
            <input type="hidden" name="_subject" value="Project Idea" />
            <button type="submit">Send</button>
        </form>
    </div>

  </div>

</div>