---
layout: default
---

<div class="home">

  {%- include cover.html -%}

  <div class="wrapper">
    <div class="page-section">
      <div class="column" style="max-width: 600px;">
        <h2> Why Upstream? </h2>
        <body> We have come together in response to a need - 
          to innovate alongside missionaries in order to see the least reached have access to the gospel. </div>
        <button class="button button-dark" onclick="location.href='/about/'" type="button">About Us</button>
      </div>
      </div>
  </div>


  <div class="background-image" style="
    background-image: linear-gradient( 
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5) ), 
    url({{ '../images/three-boys-sitting.jpg'}});">  
    <div class="wrapper" style="display:flex; flex-direction:column; align-items:flex-end; width:inherit">
      <div class="page-section" style="margin-right: 56px; padding-top: 120px; padding-bottom: 120px;" >
        <div class="column" style="max-width: 600px; display: flex; flex-direction:column; align-items:flex-end;">
          <h2 class="h2 h2-white" style="text-align: right;"> Frontline Missions </h2>
          <div class="body-white" style="text-align: right; "> Upstream creates space for developers in a variety of contexts to get involved in work among unreached peoples. </div>
          <button class="button button-light" onclick="location.href='/mission/'" type="button" style="width: fit-content;">Our Mission</button>
        </div>
        </div>
    </div>
  </div>

  {% assign posts = site.posts %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>

        <h3>

          <div class="wrapper">
            <h2> {{ post.title | escape }} </h2>
            {{ post.excerpt }}
          </div>

        </h3>

      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>