---
layout: default
---

<div class="home">

  {%- include cover.html -%}
  
  <div class="wrapper">

    <div class="row">
      <div class="page-section" style="max-width: 60%;">
        {{ content }}
      </div>
      <image src="../images/heart_icon.svg" style="display: flex; flex-direction: row; justify-content: stretch; align-items: center;"></image>
    </div>

  </div>

  <div class="cover" style="
    height: 300px;
    background-image: linear-gradient( 
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5) ), 
    url({{ '../images/people-coffee-meeting.jpg'}});">  

    <div class="wrapper">
      <div class="page-section">
        <div class="column" style="width: 60%;">
          <h3 class="header2-white"> Why Upstream? </h3>
          <div class="body-white"> We have come together in response to a need - 
            to innovate alongside missionaries in order to see the least reached have access to the gospel. </div>
          <button class="button button1" onclick="location.href='/about/'" type="button">About Us</button>
        </div>
        </div>
    </div>

  </div>

  {% assign posts = site.posts %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>

        <h3>

          <div class="wrapper"">
            <h2> {{ post.title | escape }} </h2>
            {{ post.excerpt }}
          </div>

        </h3>

      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>